<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2016 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.explicitintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.explicitintent.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Android Studio will have created an Activity tag if you followed step 1 properly. Do-->
        <!--steps 8 - 11 within that tag. Please see the solution code if you get stuck.-->
        <!--COMPLETED (8) Specify ChildActivity's parent using android:parentActivityName-->
        <!--COMPLETED (9) Create a meta-data tag for this Activity-->
        <!--COMPLETED (10) Specify the name of the meta-data as android.support.PARENT_ACTIVITY-->
        <!--COMPLETED (11) Specify the value of the meta data as .MainActivity-->
        <activity
            android:name="com.example.android.explicitintent.ChildActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>