<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.background">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- This is required for immediate tasks that need to be run -->
        <service
            android:name=".sync.WaterReminderIntentService"
            android:exported="false"/>

        <!-- TODO (15) Declare the WaterReminderFirebaseJobService as a service in your manifest -->
        <!-- TODO (16) Set exported to false -->
        <!-- TODO (17) Declare an IntentFilter with name com.firebase.jobdispatcher.ACTION_EXECUTE -->

    </application>
</manifest>