<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.visualpolish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registering all other (not main) activities -->
        <activity
            android:name=".ColorFontActivity"
            android:label="@string/color_font_name" />

        <activity
            android:name=".StyleActivity"
            android:label="@string/style_name" />

        <activity
            android:name=".ResponsiveLayoutActivity"
            android:label="@string/responsive_layout_name" />

        <activity
            android:name=".SelectorsActivity"
            android:label="@string/touch_selectors_name" />

    </application>

</manifest>